body {
    font-family: lato;
    color: black;
    max-width: 1600px;
    margin: 0 auto;
  }

h1 {
    font-family: DM sans;
    font-size: 36px;
    color: #D04F4F;
    margin: 0px;
}

h2 {
  font-family: lato;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0px;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 12px;
  list-style: none;
}